@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-primary: #00D3C3;
  --color-dark: #141414;
  --color-light: #F4F4F4;
  --color-gray: #494949;
  --color-gray-dark: #2D2D2D;
  --color-dark-gray: #1F1F1F;
  --color-gray-light:#BFBFBF;

  /* SYSTEM */
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* FONT */
  --font-sans: var(--font-manrope);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: var(--font-sans);
}
